.uploadEntry {
    display: grid;
    grid-auto-flow: column;
    grid-template: [name] auto [progress] auto [details] auto / [info] 1fr [button] auto;
    gap: .4rem;
    align-items: center;
    max-width: 26rem;

    margin: 1rem;
}

.uploadEntry > button {
    grid-row: 1 / -1;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
