.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container.row {
    flex-direction: row;
}

.container.column {
    flex-direction: column;
}
