.dropRoot {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 20px;

    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.show {
    display: flex;
}

.overlay.variantWrongFile {
    border: 1px solid red;
}
