.wrapper {
    position: relative;
    height: 100%;
}

.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;

    padding: 20px;

    overflow: hidden;
}

.spinner {
    width: 2.2rem;
    height: 2.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    transform: translateY(-200%);
    
    transition: transform .7s cubic-bezier(0.75, -0.93, 0.26, 1.82);
}

.spinner.fetching {
    transform: translateY(0);
}
