.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.blur {
    filter: blur(20px);
}

.welcome {
    display:flex;
    justify-content: center;
    align-items: center;
}

.welcome > * {
    width: 60%;
    height: 40%;
}
